
.login
{
    background-color: var(--primary-color);
    width: 800px;
    height: 600px;
    border-radius: 8px;

    display: flex;
    overflow: hidden;
}

.imageBanner
{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imageBanner img
{
    height: 530px;
    border-radius: 5px;
}

.loginControls
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 40px 40px 0;
}

.backLogin
{
    display: flex;
    align-items: center;
    /* width: 100%; */
    margin-bottom: 20px;
    cursor: pointer;
    /* background-color: aqua; */
    margin-right: auto;

    & > p
    {
        cursor: pointer;
    }
}

.backLogin i
{
    margin-right: 5px;
}

.loginControls h3
{
    font-size: 1.6rem;
    color: #383838;
    text-align: center;
    margin-bottom: 2rem;
}

.loginInputs
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    overflow-x: hidden;

}

.loginInputs input
{
    height: 60px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 1.1rem;
    padding-left: 50px;
}

.loginInputs i
{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(50%, -50%);
}

.loginInputs label
{
    position: absolute;
    top: -25px;
    left: 3px;
}

.loginControls button
{
    width: 100%;
    height: 60px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: ease all 300ms;
    
    /* &:hover
    {
        transform: scale(.98);
    } */
}

.forget
{
    cursor: pointer;
    font-weight: 600;
    text-align: right;
    margin-left: auto;
    margin-bottom: 20px;
    transition: ease-out 300ms;
    border-bottom: solid 2px transparent;
    
    &:hover
    {
        border-bottom: solid 2px var(--font-color);
    }
}

.passwordLogin
{
    position: absolute;
    right: -70%;
    padding: 5px;
    cursor: pointer;
}
