
.cardContainer
{
    background-color: #fbfbfb;
    padding: 1rem;
    border-radius: 8px;
}

.profileImage
{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;

}

.profileImage img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.topCard
{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 80px;
    padding: 30px 0 0px 0;
}

.information small > i
{
    color: var(--primary-color);
    margin-left: 10px;
}

.information small
{
    color: #000;
    display: flex;
}

.information
{
    display: flex;
    flex-direction: column;
}

.information p
{
    max-width: 40ch;
    margin: 10px 0 10px 0;
}

.information h3
{
    margin: 10px 0 10px 0;
}

.serviceInfo
{
    display: inline-block;
    padding: 10px 0;
    color: #00520F;
}

.serviceInfo i
{
    color: #00520F;
}

.botCardControls
{
    height: 2rem;
    width: calc(100% - .50rem);

    display: flex;
    justify-content: end;
}

.btnCard
{
    width: 110px;
    border-radius: 5px;
    border: none;
}

.btnAsk
{
    margin-left: 20px;
    background-color: var(--primary-color);
}

.btnSave
{
    background-color: #f1f1f1;
}

.btnSave i
{
    margin-right: 5px;
}

.cardControls i
{
    padding: 10px;
    margin: 0 5px;
    /* background-color: red; */
    cursor: pointer;
}