*
{
    padding: 0%;
    margin: 0%;
}

.stepForm
{
    margin-top: 5px;
}

.esferas
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: auto;
}

.esfera
{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #DEDDDD;
}

.postFormContainer
{
    width: calc(100% - 10rem);
    max-width: 1500px;
    height: auto;
    /* background-color: rgb(216, 216, 216); */
}

.postJobForm
{
    margin-left: 4rem;
}

.postJobStep
{
    max-width: 650px;
    display: flex;
    padding: 1rem 0 0 0;
}

.stepsNumber
{
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.stepForm
{
    width: 100%;
}

.stepSelects
{
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 2rem 0;
}

.stepSelects:nth-child(1)
{
    margin-right: 10px;
}

.label
{
    display: flex;
    flex-direction: column;
}

.label label
{
    margin-bottom: 10px;
}

.stepTip
{
    margin-left: 1.7rem;
    margin-top: 5px;
    font-size: .80rem;
}

.stepExamples
{
    font-size: .90rem;
}

.stepForm span
{
    font-weight: bold;
}

.stepForm input, textarea
{
    border-radius: 8px;
    border: solid 1.5px #E8E4E4;
    background-color: #FBFBFB;
    width: 100%;
    outline: none;
    padding-left: 20px;
    margin: 1rem 0;
    resize: none;
}

/* Estilos Paso 1 */

.paso1
{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    height: 200px
}

.paso1Number
{
    background-color: #F2EB51;
}

.step1Form input
{
    height: 50px;
    outline: none;
    padding-left: 20px;
    margin: 1rem 0;
}

/* Esilos paso 2 */

.paso2
{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    height: 425px;
    /* background-color: #F2EB51; */
}

.paso2Number
{
    background-color: #F8BD00;
}

.step2Form textarea
{
    width: 100%;
    height: 230px;
    padding-top: 1rem;
    border-radius: 8px;
    border: solid 1.5px #E8E4E4;
    background-color: #FBFBFB;
    
}

/* Estilos paso 3 */

.paso3
{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    height: 270px;
}

.postJob3Step
{
    display: flex;
    padding: 1rem 0;
}

.paso3Number
{
    background-color: #18D1F2;
}

/* Estilos paso 4 */

.paso4
{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    height: 270px;
}

.postJob4Step
{
    display: flex;
    padding: 1rem 0;
}

.paso4Number
{
    background-color: #04BF9D;
}

.step4Form input
{
    width: 400px;
    height: 50px;
    outline: none;
    padding-left: 20px;
    margin: 1rem 0;
}


.habilidades
{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.habilidad
{
    padding: 10px 20px;
    background-color: #A9EADE;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

